.footer-container {
  width: 100%;
  border-top: solid 1px #e1e3e5;
  padding: 40px 0;
  .footer-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 13;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include breakpoint(sm) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .footer-left {
      display: flex;
      gap: 40px;

      @include breakpoint(sm) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .footer-info {
        width: 60%;
        p {
          padding: 30px 0;
          margin: 0;
        }
        .footer-logo {
          display: flex;
          gap: 10px;

          span {
            font-size: 26px;
            font-weight: 600;
            color: #272343;
          }
        }
        .footer-socials {
          display: flex;
          gap: 10px;
          .social-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            span {
              font-size: 20px;
              color: #636270;
              padding: 0;
              margin: 0;
            }

            &:hover {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #007580;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              transition: all 0.5s ease;
              cursor: pointer;

              span {
                color: #007580;
              }
            }
          }
        }
      }

      .footer-category {
        ul {
          list-style: none;
          padding: 0;
        }

        li {
          color: #272343;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            color: #007580;
          }
        }
      }
    }
    .footer-right {
      display: flex;

      @include breakpoint(sm) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .footer-support {
        width: 30%;
        ul {
          list-style: none;
          padding: 0;
        }

        li {
          color: #272343;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            color: #007580;
          }
        }
      }

      .footer-newletter {
        @include breakpoint(sm) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .input-wrapper {
          width: 100%;
          display: flex;
          gap: 20px;
          padding: 10px 0;

          input {
            border: solid 1px #e1e3e5;
            outline: none;
            width: 70%;
            border-radius: 4px;
            padding: 8px;
          }

          button {
            outline: none;
            border: none;
            background-color: #029fae;
            flex: 1;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
