.card-container {
  width: 100%;
  .card-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .card-title {
      font-size: 32px;
      font-weight: 600;
      color: #272343;
      margin-bottom: 40px;
    }

    .card-item {
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 12px;
        object-fit: cover;
      }

      .product-info {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: 16px;
          font-weight: 400;
          color: #007580;
          padding: 0;
          margin: 0;
        }

        span {
          font-size: 18px;
          font-weight: 600;
          color: #272343;
        }

        .add-to-cart {
          width: 44px;
          height: 44px;
          background-color: #f0f2f3;
          color: #272343;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            background-color: #029fae;
            color: #fff;
            transition: all 0.5s ease;
          }

          button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              transition: all 0.5s ease;
            }
          }
        }
      }
    }

    .card-item:not(:first-child) {
      margin-left: 20px;
    }

    .slick-track {
      display: flex;

      .slick-slide:not(:first-child) {
        margin-left: 20px;
      }
    }

    .slick-slider {
      position: relative;

      .slick-next {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;

        &::before {
          display: none;
        }
      }

      .slick-prev {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;

        &::before {
          display: none;
        }
      }
    }
  }

  .arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 44px;
    height: 44px;
    background-color: #f0f2f3;
    color: #272343;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    right: 30px;

    &:hover {
      color: #fff;
      background-color: #007580;
      transition: all 0.5s ease;
    }
  }

  .arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 44px;
    height: 44px;
    background-color: #f0f2f3;
    color: #272343;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    right: 0;

    &:hover {
      color: #fff;
      background-color: #007580;
      transition: all 0.5s ease;
    }
  }
}
