.menu-container {
  width: 100%;

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 13;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .menu-section {
      @include breakpoint(sm) {
        width: 100%;
      }
    }

    .contact-info {
      @include breakpoint(sm) {
        display: none;
      }
    }
  }

  .ant-menu-overflow {
    @include breakpoint(sm) {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
