.top-container {
  width: 100%;
  background-color: #272343;
  padding: 10px 2rem;
  color: #fff;

  .top-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 13;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .left-section {
    }

    .right-section {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
      }
    }
  }
}
