.cart-product {
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    width: 80%;
  }

  img {
    width: 100px;
    max-width: 100%;
    margin-right: 1rem;

    @include breakpoint(sm) {
      width: 50px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  h3 {
    font-weight: 400;
    margin: 0;

    @include breakpoint(sm) {
      font-size: 13px;
    }
  }

  button {
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background: none;
    color: gray;

    &:hover {
      color: #029fae;
    }
  }
}

.cart-product-price {
  justify-self: center;

  @include breakpoint(sm) {
    font-size: 13px;
  }
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
  justify-self: center;

  @include breakpoint(sm) {
    width: 80px;
  }

  button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;

    @include breakpoint(sm) {
      padding: 5px 10px;
    }
  }

  .count {
    padding: 0.7rem 0;

    @include breakpoint(sm) {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      font-size: 13px;
    }
  }
}

.cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: center;
  font-weight: 700;
}

.cart-product-trash {
  font-size: 20px;
  color: #029fae;
  cursor: pointer;
  justify-self: center;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;

  @include breakpoint(sm) {
    flex-direction: column;
    align-items: center;
  }

  .clear-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid #029fae;
    color: #029fae;
    background: none;
    outline: none;
    cursor: pointer;

    @include breakpoint(sm) {
    }
  }

  .cart-checkout {
    width: 330px;
    max-width: 100%;

    .subtotal {
      display: flex;
      justify-content: space-between;
      font-size: 20px;

      .amount {
        font-weight: 700;
      }
    }

    p {
      font-size: 14px;
      font-weight: 200;
      margin: 0.5rem 0;
    }

    .checkout-btn {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      font-weight: 400;
      letter-spacing: 1.15px;
      background-color: #029fae;
      color: #f9f9f9;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .checkout-btn-opacity {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      font-weight: 400;
      letter-spacing: 1.15px;
      background-color: #02a0ae79;
      color: #f9f9f9;
      border: none;
      outline: none;
      cursor: not-allowed;
    }

    .continue-shopping {
      margin-top: 1rem;

      .continue-btn {
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
          margin-left: 0.5rem;
        }

        &:hover {
          color: #029fae;
        }
      }

      a {
        color: gray;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }
}
