.feedback-container {
  width: 100%;
  background-color: #f0f2f3;
  padding: 80px 0;
  .feedback-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    .feedback-title {
      font-size: 32px;
      font-weight: 600;
      color: #272343;
      margin-bottom: 40px;
    }

    .feedback-item {
      width: 100%;
      padding: 50px;
      background-color: #fff;
      border-radius: 12px;
      .feedback-desc {
        border-left: solid 2px #029fae;
        padding-left: 20px;
      }

      .feedback-info {
        display: flex;
        justify-content: space-between;

        .feedback-user {
          display: flex;
          align-items: center;
          gap: 20px;
          .user-img {
            width: 60px;
            height: 60%;
            border-radius: 50%;

            img {
              width: 100%;
              aspect-ratio: 1 / 1;
              object-fit: cover;
              border-radius: 50%;
            }
          }

          .user-info {
            h2 {
              padding: 0;
              margin: 0;
            }
          }
        }

        .feedback-quote {
        }
      }
    }

    .feedback-item:not(:first-child) {
      margin-left: 20px;
    }
  }

  .arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 44px;
    height: 44px;
    background-color: #fff;
    color: #272343;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    right: 30px;

    &:hover {
      color: #fff;
      background-color: #007580;
      transition: all 0.5s ease;
    }
  }

  .arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 44px;
    height: 44px;
    background-color: #fff;
    color: #272343;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    right: 0;

    &:hover {
      color: #fff;
      background-color: #007580;
      transition: all 0.5s ease;
    }
  }
}

.slick-track {
  display: flex;

  .slick-slide:not(:first-child) {
    margin-left: 20px;
  }
}

.slick-slider {
  position: relative;

  .slick-next {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

    &::before {
      display: none;
    }
  }

  .slick-prev {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    &::before {
      display: none;
    }
  }
}
