.category-container {
  width: 100%;
  .category-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .category-title {
      font-size: 32px;
      font-weight: 600;
      color: #272343;
    }

    .category-item {
      position: relative;
      transition: all 0.5s ease;
      overflow: hidden;
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 12px;
        object-fit: cover;
      }

      .product-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000b2;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;

        transform: translateY(100%);
        transition: transform 0.5s ease;

        h2 {
          font-size: 18px;
          font-weight: 500;
          padding: 0;
          margin: 0;
          color: #fff;
        }

        span {
          font-size: 14px;
          font-weight: 300;
          color: #fff;
        }
      }

      &:hover .product-info {
        transform: translateY(0);
      }
    }

    .slick-track {
      display: flex;
      column-gap: 20px;
    }
  }
}
