.header-container {
  position: relative;
  margin-bottom: 100px;
  .slider-item {
    height: 500px;
    background-color: #f0f2f3;
    .slider-label {
    }
    .slider-title {
    }
    .slider-button {
    }
  }
}
