.header-container {
  position: relative;
  margin-bottom: 100px;
  width: 100%;
  background-color: #f0f2f3;
  padding-top: 160px;

  .slider-items {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex !important;

    .slider-wrapper {
      margin-top: 80px;
      height: 650px;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      @include breakpoint(sm) {
        height: 100vh;
        margin-top: 0;
      }

      .slider-item {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @include breakpoint(sm) {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          position: relative;
          height: 100vh;
        }

        .slider-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          @include breakpoint(sm) {
            z-index: 20;
            justify-content: start;
            padding-top: 60%;
            padding-left: 20px;
          }
          .slider-label {
            font-size: 14px;
            font-weight: 400;
            color: #272343;
            padding: 0;
            margin: 0;
          }
          .slider-title {
            font-size: 68px;
            font-weight: 700;
            color: #272343;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 20px;
            line-height: 1;

            @include breakpoint(sm) {
              font-size: 30px;
              padding: 20px 0;
            }
          }
          .slider-button {
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px 20px;
            background-color: #029fae;
            border-radius: 4px;
            cursor: pointer;

            p {
              font-size: 14px;
              font-weight: 500;
              color: #fff;
              padding: 0;
              margin: 0;
            }
            span {
              color: #fff;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center;
            }
          }
        }
        .slider-image {
          display: flex;
          justify-content: center;
          position: relative;

          @include breakpoint(sm) {
            position: absolute;
            bottom: 40%;
            right: 0;
          }

          &::after {
            content: " ";
            position: absolute;
            top: -40%;
            width: 600px;
            height: 600px;
            background-color: #e1e3e5;
            border-radius: 50%;

            @include breakpoint(sm) {
              width: 300px;
              height: 300px;
            }
          }

          .slider-discount {
            position: absolute;
            top: 1%;
            right: 10%;
            z-index: 20;
          }

          img {
            width: 400px;
            height: auto;
            z-index: 10;

            @include breakpoint(sm) {
              width: 200px;
              height: auto;
              object-fit: cover;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

.slick-slider {
  position: relative;

  .slick-dots {
    position: absolute;
    bottom: 80px;

    @include breakpoint(sm) {
      bottom: 30%;
    }
  }
}
