.review-container {
  width: 100%;
  padding: 40px 2rem;
  background-color: #f0f2f3;

  .review-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .rating {
      width: 100%;
    }

    .list-review {
      width: 100%;
    }
  }
}
