@import "./allproduct";
@import "./productDetail";
@import "./description";
@import "./review";

.products-container {
  width: 100%;
  margin: 80px 0;
  .products-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-size: 32px;
      font-weight: 600;
      color: #272343;
      text-align: center;
    }
  }
}
